.container {
  background-color: #e2e2e2;
  padding: 10px;
}

.item {
  background-color: tomato;
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 5px;
  color: white;
}
.container2 {
  margin-top: 10px;
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
}
/* since the display is changed to flex box the elements in container 2 are alligned according to the horizontal axis */
.item0 {
  background-color: tomato;
  /* width: 50px;  */
  height: 50px;
  margin: 5px;
  padding: 5px;
  color: white;
}
.item1 {
  background-color: tomato;
  /* width: 50px;  */
  /* height: 50px; */
  margin: 5px;
  padding: 5px;
  color: white;
}
.item-1 {
  flex: 2;
  /* instead of specifiying a static width for each item, using the flex property, we can allow the flex box to calculate the width of each item dynamically  */
  order: 5;
}
.item-2 {
  flex: 4;
  /* since flex uses a ratio it will double the width of the second item */
  order: 4;
}
.item-3 {
  flex: 2;
  order: 3;
}
.item-4 {
  flex: 2;
  order: 2;
  /* you can set the order of ellements with the order property */
}
.item-5 {
  flex: 2;
  order: 1;
}

/* ============================================================ */

.container3 {
  margin-top: 10px;
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  /* the direction is reversed now */
}

.container4 {
  margin-top: 10px;
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /*this will display the items in a column  if we typed column reverse which will change the content arrangment  */
}

.container5 {
  margin-top: 10px;
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* you can see that the text inside each div takes one line and is not moved to another, this causes the entire div (last one) to go one row lower */
  /* we can use flex-flow:row nowrap; instead of typing: 
  flex-direction: row;
  flex-wrap: wrap;
     */
}

/* ========================================================= */

.container6 {
  margin-top: 10px;
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  height: 200px;
  /* jusitgy content is used to align the content along the main axes flex-start is default */
  justify-content: center;

  /* if you want to align items according to the cross axis you can do it using align-items css property, stretch is the default value.  */
  /* flex start will be aligned to the top of the container */
  align-items: flex-start;
}

.container7 {
  margin-top: 10px;
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  height: 100vw;
  justify-content: center;
  align-items: center;

  align-content: center;
  /* sets the distributuion space around content items */
}
